#page-wrapper-about {
    margin: 1.2em;
}

@media (min-width: 768px) {
   
    .about-text {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top:3em;

        .post-image, .post-info {
            width: 40vw;
        }
    }
}