.container-about{
    //padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    .about-info{
        padding: 1em;
        .store-title {
            font-weight: bold;
        }
    }
}

@media (min-width: 768px) {
    .container-about {
        flex-direction: row;
        justify-content: space-evenly;
        //padding:1.5em;

        .about-info {
            //width: 40vw;
        }

        .about-img{
            //width:40vw;
        }
    }
}