

@media (min-width: 768px) {
   
    .about-text {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

        .post-image, .post-info {
            width: 40vw;
        }
    }
}