.before-menu {
    background-color: $yellow;
    padding: 1em;

    p{
        //font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    .before-menu {
        display:flex;
        justify-content: space-between;
        padding:1em;


      
    }
}

