.before-menu {
    background-color: $yellow;
    padding: 1em;

    p{
        color: $brown;
        font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    .before-menu {
        display:flex;
        justify-content: space-between;
        padding: 0;

        .item1{
            p{
                //margin:1em;
            }
        }

        .item2{
            display: flex;
            p {
                //margin:1em;
            }
        }
    }
}