.inspiration-page-tittle {
    margin: 1em 1em 0 1em;
}

iframe{
    width: 100%;
    height: auto;
}
.cooking {
    
    .cooking-item {
        //border: solid 1px $black;
        padding: 0.5em;
        margin-bottom: 1em;
        box-shadow: 5px 5px 5px #888888;
        background-color: $background;
        border-radius: 10px;
    }
}


@media (min-width: 768px) {
    .hero-image-inspiration{
        
        #searchform  {
            width: 60vw;
        }
    }

    .cooking {
        
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        .cooking-item{
            width:40vw;
            margin: 1em;
        }
    }
    
    .single-content {
        display:flex;
        justify-content: space-evenly;
        align-items: flex-start;
        .entry-header-cooking {
            width:40vw;
        }

        .entry-content-cooking {
            width:40vw;
            padding: 1em;
        }
    }


    .post-102 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 2em 0;
    }

    iframe {
        height: 40vh;
    }


}

@media (min-width: 1204px) {
   

    .cooking {
        margin: 2em;

        .cooking-item {
            width: 25vw;

            iframe {
                height: 20vh;
            }
        }
        

        .entry-header-cooking {
            width: 40vw;
            display: flex;
            flex-direction: column-reverse;
            flex-grow: 2;
        }

        
    }

    
}