.main-menu {
    display: flex;
    flex-direction: column;

    .site-title {
        margin-top: 1em;
    }

}

.navbar-dark .navbar-nav .nav-link{
    color:$brown;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:$yellow;
}


  




// Toggle bar
.navbar-toggler {
    background-color: $yellow;
}

//Dropdown menu
#navbarNavDropdown {
    margin-top:1em;
}

//list item in menu
#main-menu {
    li{
        padding-left: 2em;
        padding-right: 2em;
    }


    
}