.container-new-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background;
    padding: 1em;

    .main-new-products {
        display: flex;
        flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        a {        
            background-color: $background;
            width: 100vw;
            padding:0.5em;
            border-radius: 10px;

            .new-product {
                display: flex;
            align-items: center;
            justify-content: center;

            .new-product-image {
                width:25vw;
                .no-image {
                    p {
                        font-size: 10px;
                    }
                }
            }
    
            .new-product-title {
                width:40vw;
            }
            }
    
           
    
           
        }
    }
  
}

@media (min-width: 768px) {
    .container-new-products {
        margin: 2em;
        background-color: transparent;
        .main-new-products {
           align-items: stretch;
            flex-direction: row;
            a{
                margin: 0.5em;
                width: 15vw;
            .new-product {
                flex-direction: column;
                    

                    .new-product-image {
                        width: auto;

                        .no-image {
                            p {
                                font-size: 1em;
                            }
                        }
                    }
                    .new-product-title {
                        width: auto;
                    }
            }
        }
        }
    }
}

@media (min-width: 1204px) {
  
}