.container-new-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background;
    padding: 1em;

    .main-new-products {
        display: flex;
        flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        .new-product {        
            background-color: $background;
            width: 100vw;
            padding:0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
    
            .new-product-image {
                width:25vw;
            }
    
            .new-product-title {
                width:40vw;
            }
    
           
        }
    }
  
}

@media (min-width: 768px) {
    .container-new-products {
        margin: 2em;
        background-color: transparent;
        .main-new-products {
           align-items: stretch;
            flex-direction: row;
            a{
                margin: 0.5em;
            .new-product {
                flex-direction: column;
                    width: 15vw;

                    .new-product-image {
                        width: auto;
                    }
                    .new-product-title {
                        width: auto;
                    }
            }
        }
        }
    }
}

@media (min-width: 1204px) {
    .container-new-products {
       
        .main-new-products {
            

            .new-product {
               
                width: 15vw;
            }
        }
    }
}