.container-popular-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    background-color: $background;

    .main-new-products{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .product {
 
            background-color: $background;
            padding: 0.5em;
            width:100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            

            .product_title {
                width:40vw;

            }

            .product_image {
                width: 25vw;
            }

    }
}

}

@media (min-width: 768px) {
    .container-popular-products {
        background-color: transparent;
        
        .main-new-products {
           flex-direction: row;
           align-items: baseline;

            a{
                margin: 0.8em;

                .product {
                    flex-direction: column;
                    width: 15vw;
     
                    .product_image {
                        width: auto;
                    }
                    .product_title {
                        width: auto;
                    }
                 }
            }

           

        }
    }
}

@media (min-width: 1024px) {
    .container-popular-products {
       padding: 0;
       margin: 2em;
        .main-new-products {
            

            .product {
                width: 15vw;
                
            }

        }
    }
}