#search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .search-item {
        display: flex;
    flex-direction: column;
    background-color: $background;
    border-radius: 10px;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
   
    }
}


@media (min-width: 768px) {
    .articles {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
        .search-item {
            width:25vw;
            margin: 1em;
        }
    }

    
}