#single-wrapper {
    
    
  .sect2 {
      margin:1em;
  } 
  
  .post-image {
      display: flex;
      justify-content: center;
  }

}
.sub-main {
    margin-top:2em;
}
.popular {
    margin: 2em 0;
}
.get-products {
    h5 {
        text-align: center;
    }
   .product-items {
        display: flex;
        flex-wrap: wrap;

    

        .product-item{
        width:100%;
           background-color: $background;
           padding: 1em;

           a {
               display: flex;

               .product-image {
                    width: 25vw;
               }

               .product-title {
                   padding:0.5em;
               }
           }
          
           
       }
    
        
   }
}

@media (min-width: 768px) {
    #single-wrapper{
        margin: 0 2em;
       .products {
           flex-direction: row;
           justify-content: space-evenly;
       }

       

    
    }

    .sect2 {
        padding:3em;
    }


    .get-products {
        margin-bottom: 2em;
        
        .product-items {
            
            align-items: stretch;
            justify-content: space-evenly;
            .product-item{
                border-radius: 10px;
                width: 15vw;
                
                a {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .product-image {
                        width:10vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #single-wrapper {

    
    .single-post {
        display: flex;
        justify-content: center;
    align-items: center;

    
    }
}
}



