// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
a {
    color: $black;
    letter-spacing: 2px;
}

a:hover {
    color: $brown;
}

p{
    color: $black;
    font-family: $body;
    letter-spacing: 2px;
    line-height: 200%;
}

h1, h2, h3,h4,h5, h6 {
    font-family: $heading;
    letter-spacing: 2px;
    line-height: 200%;
}

.btn-light {
    background-color: $yellow;
    border: none;
}

// * {
//     border: 1px solid red;
// }

#wrapper-footer {
    padding: 0;
}

#wrapper-footer-full {
    background-color: $yellow;
}

#page-wrapper {
    padding: 0 1em;
    margin: 1em 0;
}

body {
    background-color: #f2f2f2;
}

.wrapper {
    padding: 0;

}

@media (min-width: 768px) {
    #page-wrapper {
        padding: 1em;
        margin: 2em 0;
    }

    .section-items {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .sections{
            margin: 2em;
            display:flex;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: 1024px) {
.section-items {
    .sections {
        margin: 0;
    }
}
}